Competetion Name: Loan Prediction

- Here we can use different algorithms such as KKN Classifier,Naive Bayes Classifier etc.
- Top 5 Members:
    1. v4d3r 
    2. sayoojsamuel 
    3. swapnil25101999 
    4. Harish1291 
    5. mvsrao 
- My ranking is 6728.
- **Procedure:**
First of all I registered for the competetion 'Loan Prediction' on Analytics Vidhya then I downloaded the train and test files in csv format. After the preceding steps I imported the files in jupyter notebook using read_csv() command.Then I have performed the KNN classifier on this loan data.
After completeing all the above procedure I uploaded code file, solution file and after providing appropriate discription I have submitted my solution.

import numpy as np

In [3]:
import numpy as np
import pandas as pd

In [2]:
loan_train1=pd.read_csv('train_ctrUa4K.csv')
loan_train1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
loan_train=pd.get_dummies(loan_train1,columns=['Gender','Education','Property_Area'])
loan_train.head()

,Loan_ID,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Female,Gender_Male,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,LP001002,No,0,No,5849,0.0,NaN,360.0,1.0,Y,0,1,1,0,0,0,1
1,LP001003,Yes,1,No,4583,1508.0,128.0,360.0,1.0,N,0,1,1,0,1,0,0
2,LP001005,Yes,0,Yes,3000,0.0,66.0,360.0,1.0,Y,0,1,1,0,0,0,1
3,LP001006,Yes,0,No,2583,2358.0,120.0,360.0,1.0,Y,0,1,0,1,0,0,1
4,LP001008,No,0,No,6000,0.0,141.0,360.0,1.0,Y,0,1,1,0,0,0,1

In [4]:
loan_train['LoanAmount']=loan_train['LoanAmount'].fillna(loan_train['LoanAmount'].mean())
loan_train['Loan_Amount_Term']=loan_train['Loan_Amount_Term'].fillna(loan_train['Loan_Amount_Term'].mean())
loan_train['Credit_History']=loan_train['Credit_History'].fillna(loan_train['Credit_History'].mean())

In [5]:
loan_train.isnull().sum()

Loan_ID                     0
Married                     3
Dependents                 15
Self_Employed              32
ApplicantIncome             0
CoapplicantIncome           0
LoanAmount                  0
Loan_Amount_Term            0
Credit_History              0
Loan_Status                 0
Gender_Female               0
Gender_Male                 0
Education_Graduate          0
Education_Not Graduate      0
Property_Area_Rural         0
Property_Area_Semiurban     0
Property_Area_Urban         0
dtype: int64

In [6]:
x_train=pd.DataFrame(loan_train,columns=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Gender_Female','Gender_Male','Education_Graduate','Education_Not Graduate','Property_Area_Rural','Property_Area_Semiurban','Property_Area_Urban'])
y_train=loan_train.iloc[:,9:10]

In [17]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

C:\Users\Sujit\Anaconda3\New folder\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [18]:
loan_test1=pd.read_csv('test_lAUu6dG.csv')

In [19]:
loan_test=pd.get_dummies(loan_test1,columns=['Gender','Education','Property_Area'])

In [20]:
loan_test['LoanAmount']=loan_test['LoanAmount'].fillna(loan_test['LoanAmount'].mean())
loan_test['Loan_Amount_Term']=loan_test['Loan_Amount_Term'].fillna(loan_test['Loan_Amount_Term'].mean())
loan_test['Credit_History']=loan_test['Credit_History'].fillna(loan_test['Credit_History'].mean())

In [11]:
x_test=pd.DataFrame(loan_test,columns=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Gender_Female','Gender_Male','Education_Graduate','Education_Not Graduate','Property_Area_Rural','Property_Area_Semiurban','Property_Area_Urban'])

In [21]:
y_pred=model.predict(x_test)

In [22]:
pred_=pd.DataFrame(loan_test1['Loan_ID'])
pred_1=pd.DataFrame(y_pred,columns=['Loan_Status'])

In [23]:
result = pd.concat([pred_, pred_1], axis=1, sort=False)
result.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y

In [24]:
result.to_csv('loan_stat5.csv')