**Q1**

- **Dictionary:** Dictionary is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key value is provided in the dictionary to make it more optimized.

**Q2**

- **Dictionary**
    - In dictionary we can store the single or multiple values in its element.
    - Dictionaries are accessed via keys and not via their position.
- **Set**
    - In set we can not store the single or multiple values in its element.
    - Dictionaries are accessed via their position.

**Q3**

In [1]:
s1=["name1", "long name1", 1, 2, 3]
s1

['name1', 'long name1', 1, 2, 3]

**Q4**

In [2]:
dict1={'name':'xyz','id':1,'salary':1000}
dict1

{'name': 'xyz', 'id': 1, 'salary': 1000}

**Q5**

In [3]:
Dictionary1={'A':190,'B':420,'C':500} 
Dictionary1.items()

dict_items([('A', 190), ('B', 420), ('C', 500)])

**Q6**

In [4]:
Dictionary2={'A':10,'B':42,'C':51,'D':20} 
Dictionary2['B']

42

**Q7**

In [5]:
dict2={'name':'xyz','id':1,'salary':1000}
dict2.clear()
dict2

{}

**Q8**

In [6]:
dict3={'name':'wxy','roll no':8,'marks':80,'gender':'female'}
dict3.keys()

dict_keys(['name', 'roll no', 'marks', 'gender'])

**Q9**

In [7]:
A=[2,4,6,8,10]
B=[1,3,5,7,9]
A+B

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

**Q10**

In [8]:
A={1,2,3,4,5}
B={4,5,6,7,8}
A.intersection(B)

{4, 5}

**Q11**

In [9]:
set1={1, 2, 3, 5, 6}
set1.add(4)
set1

{1, 2, 3, 4, 5, 6}

In [10]:
set1.discard(3)
set1

{1, 2, 4, 5, 6}

**Q12**

In [11]:
A = {1, 2, 3, 5, 6}
A.update({12,9,11})
A

{1, 2, 3, 5, 6, 9, 11, 12}

**Q13**

In [12]:
set2={10,20,23,25,27}
sum(set2)

105

**Q14**

In [13]:
myset={"a","p","p","l","e"}
if('a' in myset):
    print('a is present')
else:
    print('a is absent')
if('r' in myset):
    print('r is present')
else:
    print('r is absent')

a is present
r is absent

**Q15**

In [14]:
dict4={'Virat':80,'Sachin':110,'Dhoni':45,'Rohit':200}
for i,j in dict4.items():
    print(str(i) + ': ' + str(j))

Virat: 80
Sachin: 110
Dhoni: 45
Rohit: 200