**Q1**

 **Variable:** 
- **Defination:** It is a way to define some information in the memory and can be fetch later by using variable names.
- **Rules to define variable:** Variable name can start with letters or underscore. It must consist of letters,
numbers and underscores. Also, variable names are not case sensitive. ABC,
Abc and abc are three different variables.

**Q2**

- There are four primitive built in data type in python which are **integers, floats, booleans and strings**. 
- **Integers:** Integers are used when we want to represent numeric data, whole number specifically. Whole numbers can take negative as well. 
- **Floats:**  Floats are used to represent floating point numbers. We can use it for decimals and rational numbers such as 1.3, 3.4. See how I declared a float below.
- **Booleans:** Boolean are data types that can take up the values: True and False. They are useful for in conditional and comparison expression.
- **Strings:** To store words, characters and alphabets, we can use strings.  string variable can be created by enclosing a sequence of characters in a single, double or triple quote.

**Q3**

- **Mutable Objects:** The object which can be changed after it is created is mutable object.
- **Immutable Objects:** The object which can not be changed after it is created is mutable object.
- **Mutable datatypes in Python:** List,Set,Dictionary.
- **Immuutable datatypes:** Boolean,Integer,Float,Tuple,Strimg,Frozenset.

**Q4**

- We can get the length of string by using **len()** cammand.
- **Syntax:** *len(string)*  $\;\;\;\;$ (where, string can be 'abc',"abc",'1' etc.)

**Q5**

- **>,<.>=,<=,==,!=** etc are the relational operators in python.
- **Use of relational operators:**
    - **>:** for two variables a and b, the > (greater than) operator returns true if variable a is greater than variable b, else it returns false. 
    - **>:** for two variables a and b, the < (less than) operator returns true if variable a is less than variable b, else it returns false. 
    - **>=:** for two variables a and b, the >= (greater than or equal to) operator returns true if variable a is greater than or equal to variable b, else it returns false. 
    - **>=:** for two variables a and b, the <= (less than or equal to) operator returns true if variable a is less than or equal to variable b, else it returns false. 
    - **==:** for two variables a and b, the >= (equal to) operator returns true if variable a is equal to variable b, else it returns false. 
    - **!=:** for two variables a and b, the != (not equal to) operator returns true if variable a is not equal to variable b, else it returns false.

**Q6**

| Command |float(5) |  10>="9"  | 10\**2 |len("basic python") |
| :-: | :-: | :-: | :-: | :-: |
| **Output**| 5.0 | TypeError: '>=' not supported between instances of 'int' and 'str' | 100 | 12 |

**Q7**

- **Input:** Input means taking the information from the user.
    -**Function used:** input()
- **Output:** Output means showing the information the user the user after performing some operations or solving some expressions.
    -**Function used:** print()

**Q8**

| Operation | integer to float |  integer to string  | float to string | float to integer | string to float | string to integer |
| :-: | :-: | :-: | :-: | :-: | :-: | :-: |
| **command**| float(integer_variable) | str(integer_variable) | str(float_variable) | int(float_variable) | float(string_variable) | int(string_variable)|

**Q9**

In [1]:
x = input("Enter an integer:")
y = int(x)
print("Integer entered is:",y)

Enter an integer:15
Integer entered is: 15

**Q10**

In [2]:
x=float(input('Enter first number:'))
y=float(input('Enter second number:'))
print('The sum of two numbers is:',x+y)

Enter first number:10
Enter second number:20
The sum of two numbers is: 30.0

**Q11**

In [3]:
x=float(input('Enter first number:'))
y=float(input('Enter second number:'))
print(x+y)    #addition
print(x-y)    #sustraction   
print(x*y)    #multiplication
print(x/y)    #division
print(x%y)    #modulus
print(x**y)   #exponent
print(x//y)   #quotient

Enter first number:50
Enter second number:5
55.0
45.0
250.0
10.0
0.0
312500000.0
10.0

**Q12**

In [4]:
a=50
b=70
if(a is b):
    print('a and b have same identity')
else:
    print('a and b not have same identity')

a and b not have same identity

**Q13**

In [5]:
str1='thief'
str2='thieves'
if(str1 == str2):
    print("both strings are same")
else:
    print("both strings are not same")

both strings are not same

**Q14**

In [6]:
a=b=c=1
print(a,b,c)

1 1 1

**Q15**

In [7]:
x=105
print(id(x))

1491328864

**Q16**

In [8]:
from platform import python_version
print(python_version())

3.7.6