**Q1**

A tuple is an immutable sequence of Python objects. Creating a tuple is as simple as putting different comma-separated values.

**Q2**

- **List**
    - List are mutable in nature.
    - Implication of iterations is Time-consuming.
    - Lists consume more memory.
    - Lists have several built-in methods.
- **Tuple**
    - Tuple are immutable in nature.
    - Implication of iterations is faster.
    - Tuple consume less memory as compare to list.
    - Tuple does no have built-in methods.

**Q3**

In [2]:
list(range(1,12,2))

[1, 3, 5, 7, 9, 11]

**Q4**

In [3]:
a=[10, 20, 30, 40, 50]
print(len(a))
print(max(a))
print(min(a))

5
50
10

**Q5**

In [4]:
x=(1,2,3,4,5,1,3,1)
print(x*2)
x.count(1)

(1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1)

3

**Q6**

In [5]:
c_name=['red','white','yellow','black']
first=c_name[0]
last=c_name[-1]
print(first,last)

red black

**Q7**

In [6]:
lis=[1,4,7,'a','c',"rat","mat",4,6,4]
lis.append(12)
lis.remove("rat")
print(lis)

[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]

**Q8**

In [7]:
list1=list(range(1,11))
list2=list(range(11,21))
list1+list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
i=0
while(i < 3):
    print(list1)
    i=i+1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Q9**

In [9]:
f_t=('orange','banana','mango','kivi','apple')
f_t[0:4]

('orange', 'banana', 'mango', 'kivi')

**Q10**

In [10]:
lis3=list(range(1,6))
print(lis3)
print(tuple(lis3))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

**Q11**

In [13]:
a=eval(input('enter tuple:'))
len(a)

enter tuple:(10,20,30)

3

**Q12**

In [14]:
b=(15,13,8,7,4,22)
sorted(b)

[4, 7, 8, 13, 15, 22]

**Q13**

In [15]:
c_name1=['red','white','yellow','black']
c_name1.insert(2,'purple')
c_name1

['red', 'white', 'purple', 'yellow', 'black']

**Q14**

In [16]:
x=(50, 60, 70, 80, 90, (200,100))
x[5]

(200, 100)

**Q15**

In [17]:
nes_lis=[[1,2,3],[4,5,6],[7,8,9]]
print(nes_lis)
nes_tup=((1,2,3),(4,5,6),(7,8,9))
print(nes_tup)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
((1, 2, 3), (4, 5, 6), (7, 8, 9))